h3 {
  color: #055052;
}

body {
  background-color: #D5EEBB;
}

hr {
  width: 10%;
  border-style: none;
  border-top-style: dotted;
  border-width: 4px;
  border-color: #753422;
}

a {
  color: #055052;
}

h1 {
  color: #055052;
  text-align: center;
}

img {
  border: 3px solid #362222;
  border-radius: 50%
}

